@import '../../styles/colors/variables.scss';

.confirmDeleteContainer {
    background: transparent;
    position: fixed;
    z-index: 25;
    top: 0;
    left: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: blured 0.3s forwards;
    backdrop-filter: blur(10px);
    background: transparent;
    .modal {
        animation: appear 0.3s forwards;
        width: 500px;
        min-height: 250px;
        background: $black3;
        padding: 40px 70px;
        border-radius: 15px;
        h4 {
            font-size: 1.4em;
            font-weight: 500;
            padding-bottom: 15px;
        }
        p {
            color: #999;
            padding-bottom: 60px;
        }
        .buttons {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            button {
                color: #fff;
                width: 140px;
                border-radius: 30px;
                height: 45px;
                border: none;
                outline: none;
                transition: 0.3s;
                font-size: 1em;
            }
            .delete {
                background: $delete;
                &:hover {
                    background: $deleteh;
                }
            }
            .cancel {
                background: $bluegrey;
                &:hover {
                    background: $bluegreyh;
                }
            }
        }
    }
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes blured {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media (max-width: 1200px) {
    .confirmDeleteContainer {
        .modal {
            width: 100vw;
            height: 30vh;
            padding: 40px 50px;
            .buttons {
                height: 0px;
                button {
                    width: 25vw;
                    height: 39px;
                }
            }
        }
    }
}
