@import '../../styles/colors/variables.scss';


.postListContainer{
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    padding-top: 20px;
    div{
        overflow: visible;
        &::-webkit-scrollbar{
            width: 0px;
        }
        &::-webkit-scrollbar-thumb{
            background: transparent;
        }
        .postsContainer{
            display: flex;
            align-items: center;
            flex-direction: column;
            .loaderContainer{
                width: 100%;
                height: 90px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .loader{
                    position: relative;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    background: transparent;
                    animation: spin 0.7s linear infinite;
                    &::before{
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 50%;
                        height: 100%;
                        background: linear-gradient(to top, transparent, $primary);
                        border-top-left-radius: 25px;
                        border-bottom-left-radius: 25px;
                    }
                    span{
                        position: absolute;
                        top: 5px;
                        left: 5px;
                        right: 5px;
                        bottom: 5px;
                        background: #08090a;
                        border-radius: 50%;
                    }
                }
            }
        }
    }
}

@media (max-width: 1200px){
    .postListContainer{
        padding-top: 0;
        height: 100%;
    }
}

@keyframes spin{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}