@import '../../styles/colors/variables.scss';

.postDotsContainer{
    width: 50px;
    height: 50px;
    right: 20px;
    top: 20px;
    position: absolute;
    z-index: 20 !important;
    .dots{
        color: #777;
        font-size: 1.45em;
        display: flex;
        justify-content: center;
        cursor: pointer;
        transition: color .2s;
        &:hover{
            color: #efefef;
        }
    }
    .options{
        width: 210px;
        height: auto;
        background: $black3;
        animation: appear 0.4s;
        transform-origin: top;
        position: absolute;
        z-index: 20;
        border-radius: 15px;
        overflow: hidden;
        .option{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50px;
            transition: background .3s;
            cursor: pointer;
            &.delete{
                color: #ff3939;
            }
            span{
                font-size: 1.35em;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            p{
                padding: 10px;
            }
            &:hover{
                background: $black3h;
            }
        }
    }
}
.options{
    width: 210px;
    height: auto;
    background: $black3;
    animation: appear 0.4s;
    transform-origin: top;
    position: absolute;
    z-index: 20;
    border-radius: 15px;
    overflow: hidden;
    .option{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        transition: background .3s;
        cursor: pointer;
        border-radius: 15px;
        &.delete{
            color: #ff3939;
        }
        span{
            font-size: 1.35em;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        p{
            padding: 10px;
        }
        &:hover{
            background: $black3h;
        }
    }
}
@media (max-width: 1200px){
    .postDotsContainer{
        top: 20px;
        right: -15px;
        .dots{
            font-size: 1.1em;
            transform: rotate(90deg);
        }
        .options{
            width: 100vw;
            position: fixed;
            bottom: 0;
            left: 0;
        }
    }
}

@keyframes appear {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}