@import '../../styles/colors/variables.scss';

.publicContainer{
    background: $black2;
    width: 40vw;
    min-height: 8.5vw;
    z-index: 4;
    padding: 5px 18px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin-bottom: 20px;
    position: relative;
    flex-direction: column;
    .imagePreview{
        max-width: 100%;
        max-height: 500px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 25px;
        overflow: hidden;
        border-radius: 15px;
    }
    .inputContainer{
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        .image{
            width: 60px;
            height: 60px;
            img{
                width: 100%;
                height: 100%;
                border-radius: 50%;
                background-size: cover;
                object-fit: cover;
                cursor: pointer;
            }
        }
        .input{
            position: relative;
            display: block;
            width: 27.5vw;
            height: 50px;
            margin-right: 120px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            z-index: 5;
            &.over{
                border: dashed 2px $primary;
                height: 55px;
                width: 27.2vw;
            }
            .fileInput{
                display: none;
            }
            img{
                width: 60px;
                height: 60px;
                padding: 0 10px;
                border-radius: 50%;
                background-size: cover;
                object-fit: cover;
            }
            input{
                display: flex;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: transparent;
                overflow: visible;
                border: none;
                outline: none;
                font-weight: 400;
                font-size: 1.05em;
                font-family: 'Manrope', sans-serif;
                color: #fff;
                border-bottom: 2px solid #1f2b42;
                transition: 0.3s;
                &:focus{
                    border-bottom: 2px solid $primary;
                }
            }
        }
    }
    .options{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        padding: 10px 25px;
        width: 100%;
        bottom: 0;
        left: 0;
        right: 0;
        .post{
            cursor: pointer;
            width: 102px;
            height: 42px;
            background: $aquah;
            outline: none;
            font-size: 1.1em;
            border: none;
            border-radius: 30px;
            font-weight: 800;
            transition: 0.2s;
            &.notAllowed{
                opacity: 0.6;
                cursor: inherit;
                pointer-events: none;
            }
            &:hover:not(.notAllowed){
                background: $aqua;
            }
        }
        .emojiPicker{
            position: absolute;
            transition: .3s;
            z-index: 17;
            top: 50px;
            left: -90px;
        }
        .gifSearch{
            position: absolute;
            transition: .3s;
            z-index: 17;
            top: 50px;
            left: -50px;
        }
        .buttons{
            display: flex;
            padding: 0px 60px;
            padding-right: 70px;
            color: $aquah;
            input[type="file"]{
                display: none;
            }
            .button{
                font-size: 1.5em;
                margin-top: 5px;
                width: 35px;
                height: 35px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 10px;
                border-radius: 50%;
                transition: color .2s;
                cursor: pointer;
                transition: 0.2s;
                &:hover{
                    background: #6dffff20;
                }
            }
        }
    }
}

@media (max-width: 1500px) {
    .publicContainer{
        width: 36vw;
        .inputContainer{
            .image{
                width: 52px;
                height: 52px;
                img{
                    height: 52px;
                    width: 52px;
                }
            }
            .input{
                width: 390px;
                padding-right: 10px;
                margin-right: 100px;
                margin-left: 10px;
                height: 45px;
                font-size: 0.9em;
                &::placeholder{
                    font-size: 0.9em;
                }
            }
        }
        .options{
            padding: 3px;
            padding-right: 15px;
            .buttons{
                padding: 0 70px;
                .button{
                    font-size: 1.25em;
                    width: 20px;
                    height: 20px;
                }
            }
            .post{
                width: 100px;
                height: 35px;
                margin-bottom: 5px;
                font-size: 1em;
            }
        }
    }
}

@media (max-width: 1200px){
    .publicContainer{
        width: 100vw;
        border-radius: 0;
        margin: 0;
        height: 15vh;
        .inputContainer{
            width: 100%;
            justify-content: start;
            .image{
                width: 50px;
                height: 50px;
            }
            .input{
                width: 70%;
                margin: 0;
                margin-left: 5%;
            }
        }
        .options{
            width: 100vw;
            justify-content: start;
            padding: 0;
            padding-bottom: 5px;
            .post{
                width: 80px;
                height: 30px;
                font-size: 1em;
            }
            .buttons{
                padding: 0 50px;
                .button{
                    font-size: 1.4em;
                    width: 25px;
                    height: 25px;
                }
            }
        }
    }
}