@import '../../../styles/colors/variables.scss';

.addCommentContainer{
    width: 100%;
    min-height: 5vw;
    z-index: 15;
    padding-left: 10px;
    padding-bottom: 30px;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    position: relative;
    flex-direction: column;
    .imagePreview{
        max-width: 100%;
        max-height: 300px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 25px;
        border-radius: 15px;
    }
    form{
        width: 100%;
    }
    .inputContainer{
        display: flex;
        width: 100%;
        align-items: center;
        .image{
            width: 45px;
            height: 45px;
            img{
                min-width: 45px;
                min-height: 45px;
                max-width: 45px;
                max-height: 45px;
                border-radius: 50%;
                background-size: cover;
                object-fit: cover;
                cursor: pointer;
            }
        }
        .input{
            position: relative;
            display: block;
            width: 80%;
            height: 45px;
            border-radius: 30px;
            margin-left: 15px;
            display: flex;
            padding-left: 20px;
            align-items: center;
            justify-content: space-between;
            z-index: 5;
            background: $black3;
            .buttons{
                display: flex;
                padding-top: 10px;
                color: #777;
                input[type="file"]{
                    display: none;
                }
                .button{
                    font-size: 1.3em;
                    margin-bottom: 2px;
                    width: 50px;
                    transition: color .2s;
                    cursor: pointer;
                    &:hover{
                        color: $aqua;
                    }
                }
            }
            &.over{
                border: dashed 2px $primary;
                height: 55px;
                width: 27.2vw;
            }
            .fileInput{
                display: none;
            }
            input{
                display: flex;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: transparent;
                border: none;
                outline: none;
                padding-right: 20px;
                font-size: 0.95em;
                font-family: 'Poppins', sans-serif;
                color: #fff;
                transition: 0.3s;
            }
        }
    }
    .options{
        display: flex;
        align-items: center;
        position: absolute;
        padding: 7px 0px;
        width: 100%;
        bottom: 0;
        left: 0;
        right: 0;
        .post{
            cursor: pointer;
            width: 70px;
            height: 42px;
            background: $aquah;
            outline: none;
            font-size: 1.1em;
            border: none;
            border-radius: 30px;
            font-weight: 800;
            transition: 0.2s;
            &:hover{
                background: $aqua;
            }
        }
        .emojiPicker{
            position: absolute;
            transition: .3s;
            opacity: 0;
            z-index: 17;
            top: 0px;
            right: 20px;
            &.open{
                opacity: 1;
            }
        }
        .gifSearch{
            position: absolute;
            transition: .3s;
            opacity: 0;
            z-index: 17;
            top: 0px;
            right: 20px;
            &.open{
                opacity: 1;
            }
        }
    }
}

@media (max-width: 1200px) {
    .addCommentContainer{
        .inputContainer{
            .image{
                width: 40px;
                height: 40px;
                img{
                    min-width: 40px;
                    min-height: 40px;
                    max-width: 40px;
                    max-height: 40px;
                }
            }
            .input{
                width: 90%;
                height: 40px;
                padding-left: 18px;
                .buttons{
                    padding-top: 8px;
                    .button{
                        width: 35px;
                    }
                }
            }
        }
    }
}