@import '../../../styles/colors/variables.scss';

.commentDotsContainer{
    width: 100px;
    height: 50px;
    position: absolute;
    right: 185px;
    top: 26px;
    z-index: 5;
    .dots{
        color: #777;
        font-size: 1.2em;
        display: flex;
        justify-content: center;
        cursor: pointer;
        transition: color .2s;
        &:hover{
            color: #efefef;
        }
    }
    .options{
        width: 210px;
        border-radius: 15px;
        height: auto;
        background: $black3;
        animation: appear 0.4s;
        overflow: hidden;
        transform-origin: top;
        z-index: 7;
        .option{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50px;
            transition: background .3s;
            cursor: pointer;
            &.delete{
                color: #ff3939;
            }
            span{
                font-size: 1.35em;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            p{
                padding: 10px;
            }
            &:hover{
                background: $black3h;
            }
        }
    }
}

@keyframes appear {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}