@import '../../../styles/colors/variables.scss';

.commentContainer{
    min-height: 80px;
    width: 40vw;
    z-index: 1;
    padding: 5px 15px 0 15px;
    background: transparent;
    margin-bottom: 15px;
    border-radius: 15px;
    transition: 0.25s;
    animation: appear 0.6s forwards;
    .user{
        width: 100%;
        height: 45px;
        display: flex;
        align-items: start;
        justify-content: start;
        position: relative;
        padding-top: 20px;
        img{
            height: 42px;
            width: 42px;
            border-radius: 50%;
            background-size: cover;
            object-fit: cover;
            cursor: pointer;
        }
        .bothColumn{
            display: flex;
            justify-content: space-between;
            margin-left: 15px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            h5{
                margin: 0;
                font-size: 0.85em;
                font-weight: 400;
            }
            p{
                margin: 0;
                font-size: 0.85em;
                color: #777;
                margin-left: 7px;
            }
        }
    }
    .post{
        width: 80%;
        .text{
            font-size: 0.85em;
            padding-left: 58px;
            font-weight: 300;
        }
        .imageContainer{
            max-width: 100%;
            max-height: 45vh;
            padding-top: 15px;
            margin-bottom: 10px;
            img{
                display: block;
                max-width: 25vw;
                max-height: 45vh;
                background-size: cover;
                border-radius: 15px;
                margin: auto;
                object-fit: cover;
                cursor: pointer;
            }
        }
    }
}

.skeleton{
    animation: skeletonLoading 1s linear infinite alternate;
    min-width: 100px;
}
  
.skeletonText{
    width: 100%;
    height: 10px;
    padding-bottom: .5rem;
}
  
@keyframes skeletonLoading {
    0%{
        background-color: #4f575a;
    }
    100%{
        background-color: #7a8286;
    }
}

@keyframes appear {
    from{
        opacity: 0;
        transform: translateY(30px);
    } to{
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 1200px) {
    .commentContainer{
        width: 90vw;
        .user{
            img{
                width: 38px;
                height: 38px;
            }
            .bothColumn{
                width: 100%;
                h5{
                    font-size: 0.85em;
                }
                p{
                    font-size: 0.8em;
                    margin: 0 !important;
                }
            }
        }
    }
}