@import '../../styles/colors/variables.scss';
.slideFriendsContainer{
    width: 100vw;
    height: 24vh;
    background: $black2;
    padding: 10px 0px;
    h3{
        padding: 0 20px;
        padding-bottom: 0px;
        font-weight: 400;
        font-size: 1em;
    }
    .slider{
        width: 100vw;
        height: 20vh;

    }
}