@import '../../styles/colors/variables.scss';

.userProfileModal{
    position: absolute;
    z-index: 30;
    width: 390px;
    height: 200px;
    background: #1b212c;
    left: -160px;
    top: -206px;
    border-radius: 10px;
    overflow: hidden;
    animation: appear 0.4s;
    .user{
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 10;
        display: flex;
        align-items: center;
        flex-direction: column;
        .images{
            width: 100%;
            height: 130px;
            display: flex;
            justify-content: center;
            .banner{
                position: absolute;
                width: 100%;
                height: 80px;
                z-index: 5;
                .banner{
                    width: 100%;
                    border-radius: 10px;
                    height: 10vh;
                    top: 0;
                    left: 0;
                    object-fit: cover;
                    background-size: cover;
                }
            }
            .profile{
                width: 85px;
                height: 85px;
                border-radius: 50%;
                object-fit: cover;
                background-size: cover;
                position: relative;
                z-index: 10;
                padding: 5px;
                margin-top: 38px;
                background: #1b212c;
            }
        }
        .info{
            position: absolute;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 127px;
            font-size: 0.95em;
            h4{
                font-size: 1.1em;
                font-weight: 600;
            }
            .dot{
                padding: 0 5px;
            }
        }
        .bio{
            margin-top: 3vh;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 15px;
            font-size: 0.9em;
        }
    }
}

@keyframes appear {
    from{
        opacity: 0;
    } to{
        opacity: 1;
    }
}