.conversationContainer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
    z-index: 10;
    .conversation{
        display: flex;
        flex-direction: column;
        position: absolute;
        bottom: 120px;
        width: 73vw;
        max-height: 70vh;
        overflow-y: scroll;
        overflow-x: hidden;
        &::-webkit-scrollbar{
            width: 8px;
        }
        &::-webkit-scrollbar-thumb{
            background: #ffffff60;
            transition: .3s;
            border-radius: 20px;
            &:hover{
                background: #ffffff99;
            }
        }
    }
}

@media (max-width: 1200px){
    .conversationContainer{
        min-width: 100vw;
        .conversation{
            width: 100vw;
            height: 100%;
        }
    }
}
