@import '../../styles/colors/variables.scss';

.optionsBarContainer {
    width: 500px;
    height: 50vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    .options {
        background: $black2;
        border-radius: 10px;
        margin-top: 22px;
        width: 400px;
        h2 {
            margin-bottom: 20px;
            margin-left: 5px;
            font-weight: 700;
            letter-spacing: 1px;
        }
        padding: 20px;
    }
}

@media (max-width: 1500px) {
    .optionsBarContainer {
        width: 450px;
        .options {
            width: 350px;
            h2 {
                font-size: 0.95em;
            }
        }
    }
}
