@import '../../styles/colors/variables.scss';

.faqContainer {
    button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        background: transparent;
        color: #fff;
        font-size: 1.7em;
        border: none;
        outline: none;
    }
    .faq {
        width: 430px;
        height: 140px;
        border-radius: 15px;
        background: $black3;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px;
        transition: 0.3s;
        transform-origin: top left;
        &.closed {
            opacity: 0;
            transform: scale(0.9);
        }
        &.open {
            opacity: 1;
            transform: scale(1);
        }
        p {
            font-size: 1em;
        }
    }
}

@keyframes appear {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
