$primary: #8bffff;
$secondary: #0099ff;

.button{
    width: 170px;
    height: 40px;
    background: transparent;
    border: 2px solid $primary;
    display: block;
    font-size: 1em;
    color: #fff;
    transition: .3s;
    font-family: 'Nunito Sans', sans-serif;
    border-radius: 8px;
    cursor: pointer;
    &:hover{
        background: $primary;
        color: #000;
        transform: translateY(-4px);
        box-shadow: 0 4px 10px #000;
    }
}