$primary: #8bffff;
$secondary: #0099ff;

.button{
    width: 200px;
    height: 45px;
    background: transparent;
    display: block;
    font-size: 1em;
    color: #fff;
    transition: .3s;
    font-family: 'Nunito Sans', sans-serif;
    border-radius: 12px;
    background: #00bbff;
    cursor: pointer;
    color: #000;
    &:hover{
        background: #38b9ff;
        transform: translateY(-4px);
        box-shadow: 0 4px 10px #000;
    }
}