@import '../styles//colors/variables.scss';

.chatInfoContainer{
    position: absolute;
    background: $black2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 3;
    width: 74vw;
    height: 80px;
    top: 80px;
    right: 0;
    padding: 5px 30px;
    .personInfo{
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            height: 50px;
            width: 50px;
            margin-right: 30px;
            border-radius: 50%;
            background-size: cover;
            object-fit: cover;
        }
        p{
            font-size: 1.2em;
            width: 300px;

        }
    }
    .conf{
        color: #999;
        font-size: 1.5em;
        margin-top: 7px;
        cursor: pointer;
        display: flex;
        align-items: center;
        p{  
            margin-right: 20px;
            transition: .2s;
            &:hover{
                color: #fff;
            }
        }
    }
    .option{
        position: absolute;
        top: 80px;
        width: 180px;
        right: 10px;
        background: $black2;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transition: 1s cubic-bezier(1,0,0,1);
        clip-path: inset(0 0 100% 0);
        &.open{
            clip-path: inset(0 0 0 0);
        }
        button{
            width: 100%;
            height: 50px;
            background: $black3;
            color: #fff;
            border: none;
            outline: none;
            font-family: 'Nunito Sans', sans-serif;
            font-size: 1em;
            transition: background 0.2s;
            &:hover{
                background: $black3h;
            }
        }
    }
}

@media (max-width: 1200px){
    .chatInfoContainer{
        width: 100vw;
        top: 45px;
        .personInfo{
            img{
                width: 45px;
                height: 45px;
                margin-right: 20px;
            }
            p{
                font-size: 1.1em;
                font-weight: 600;
                width: 32vw;
            }
        }
    }
}