@import '../styles/colors/variables.scss';

.friendListContainer{
    width: 500px;
    height: 50vh;
    position: fixed;
    top: 30px;
    left: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    .friendGrid{
        background: $black2;
        border-radius: 10px;
        margin-top: 75px;
        width: 400px;
        h2{
            margin-bottom: 20px;
            margin-left: 5px;
            font-size: 1.4em;
            font-weight: 700;
            letter-spacing: 1px;
        }
        padding: 20px;
    }
}