@import '../styles/colors/variables.scss';

.inputContainer{
    position: relative;
    padding: 5px 20px;
    display: flex;
    align-items: center;   
    margin-bottom: 1.5rem;
    width: 20vw;
    height: 6vh;
    .inputComponent{
        position: absolute;
        top: 0;
        left: 0;
        color: #fff;
        font-size: 1em;
        width: 100%;
        height: 100%;
        display: block;
        background: transparent;
        border: none;
        background: $black3;
        outline: none;
        border-radius: 10px;
        transition: 0.35s;
        padding: 0 10px;
        padding-top: 15px;
        &:focus{
            background: $black3h;
        }
        &:focus ~ label{
            top: 5px;
            font-size: 0.9em !important;
            left: 10px;
            color: $primary;
        }
        &:not(:placeholder-shown).inputComponent:not(:focus) + .labelComponent{
            top: 5px;
            font-size: 0.9em !important;
            left: 10px;
            color: #999;
        }
        &:-webkit-autofill:focus{
            box-shadow: 0 0 0px 1000px $black3h inset;
            -webkit-text-fill-color: #fff;
            font-size: 1em;
        }
    }
    .labelComponent{
        position: absolute;
        display: block;
        transition: .3s;
        top: 27%;
        left: 20px;
        font-size: 1.05em;
        text-align: center;
        background: transparent;
        color: #999;
    }
    span{
        z-index: 10;
        color: #f00;
    }
}