@import '../styles/colors/variables.scss';

.inputContainer{
    position: relative;
    padding: 5px 20px;
    display: flex;
    align-items: center;   
    margin-bottom: 1.5rem;
    width: 20vw;
    height: 7vh;
    .inputComponent{
        position: absolute;
        top: 0;
        left: 0;
        color: #fff;
        font-size: 1em;
        width: 100%;
        height: 100%;
        display: block;
        background: transparent;
        border: none;
        background: $black3;
        outline: none;
        border-radius: 8px;
        transition: 0.35s;
        padding: 0 18px;
        padding-top: 16px;
        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus,
        &:-webkit-autofill:active {
            box-shadow: 0 0 0 30px $black3 inset;
            transition: background-color 5000s ease-in-out 0s;
            -webkit-text-fill-color: #fff;
        }
        &:focus{
            background: $black3h;
        }
        &:focus ~ label{
            top: 5px;
            font-size: 0.85em !important;
            left: 18px;
            color: $primary;
            &.error{
                color: rgb(255, 76, 76);
            }
        }
        &:not(:placeholder-shown).inputComponent:not(:focus) + .labelComponent{
            top: 5px;
            font-size: 0.85em !important;
            left: 18px;
            color: #999;
            &.error{
                color: rgb(255, 76, 76);
            }
        }
        &:-webkit-autofill:focus{
            box-shadow: 0 0 0px 1000px $black3h inset;
            -webkit-text-fill-color: #fff;
            font-size: 1em;
        }
    }
    .labelComponent{
        position: absolute;
        display: block;
        transition: .3s;
        top: 27%;
        left: 20px;
        font-size: 1.05em;
        text-align: center;
        background: transparent;
        color: #999;
        &.error{
            color: rgb(255, 82, 82);
        }
    }
    span{
        z-index: 10;
        color: #f00;
    }
}