$primary: #8bffff;
$secondary: #0099ff;

.navigation{
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    position: fixed;
    display: flex;
    background: #04090e90;
    backdrop-filter: blur(20px);
    justify-content: space-between;
    align-items: center;
    z-index: 30;
    .logo{
        padding-left: 60px;
        height: 100%;
        width: 200px;
        display: flex;
        justify-content: space-between;
        position: relative;
        align-items: center;
        cursor: pointer;
        &:hover img{
            filter: brightness(1.4);
        }
        &:hover p{
            background-size: 170%;
            background: linear-gradient(90deg, $primary, $secondary, $primary);
            background-clip: text;
            -webkit-text-fill-color: transparent;
            animation: hover 0.8s infinite linear;
        }
        img{
            height: 40px;
            width: 40px;
            transition: .3s;
        }
        p{
            font-size: 2em;
            font-weight: 800;
            margin-left: 20px;
            background: linear-gradient(90deg, $primary, $secondary, $primary);
            background-size: 170%;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            transition: 1.2s;
        }
    }
    nav{
        display: flex;
        justify-content: center;
        height: 100%;
        padding-right: 60px;
        ul{
            display: flex;
            justify-content: space-between;
            align-items: center;
            z-index: 6;
            li{
                font-size: 1.15em;
                text-align: center;
                list-style: none;
                transition: 0.3s;
                margin-right: 40px;
                z-index: 6;
                a{
                    transition: 0.3s;
                }
                a:hover{
                    color: $primary;
                }
            }
        }
    }
}

@keyframes hover {
    0%{
        background-position-x: initial;
    } 100%{
        background-position-x: 100px;
    }
}