.openImageContainer{
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #00000020;
    z-index: 100;
    display: flex;
    justify-content: center;
    animation: blur 0.5s forwards;
    align-items: center;
    &.close{
        animation: unblur 0.3s forwards;
    }
    img{
        max-width: 800px;
        max-height: 90%;
        transform: scale(0);
        background-size: cover;
        object-fit: cover;
        animation: appear 0.5s forwards;
        &.close{
            animation: disappear 0.3s forwards;
        }
    }
}

@keyframes blur{
    from{
        backdrop-filter: blur(0px);
        background: transparent;
    }
    to{
        backdrop-filter: blur(10px);
        background: #00000045;
    }
}

@keyframes unblur{
    from{
        backdrop-filter: blur(10px);
        background: #00000045;
    }
    to{
        backdrop-filter: blur(0px);
        background: transparent;
    }
}

@keyframes appear{
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}

@keyframes disappear{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(0);
    }
}