@import '../styles/colors/variables.scss';

.profileContainer{
    position: absolute;
    width: 300px;
    background: $bluegrey;
    top: 61px;
    right: -30px;
    transition: 0.5s ease;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    border-radius: 20px;
    overflow: hidden;
    padding-bottom: 10px;
    &.open{
        opacity: 1;
        pointer-events: all;
        transform: translateY(0);
    }
    .options{
        display: flex;
        flex-wrap: wrap;
        position: relative;
        height: 100%;
        width: 100%;
        flex-direction: column;
        .profile{
            width: 100%;
            height: 100px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 20px;
            transition: background 0.3s;
            &:hover{
                background: $bluegreyh;
            }
            img{
                height: 60px;
                width: 60px;
                border-radius: 50%;
                background-size: cover;
                object-fit: cover;
            }
            div{
                h5{
                    font-size: 1.1em;
                    text-align: center;
                    font-weight: 500;
                    text-align: center;
                }
                p{
                    font-size: 0.95em;
                    color: #999;
                }
            }
        }
        .option{
            width: 100%;
            height: 50px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            transition: background 0.3s;
            .icon{
                display: flex;
                align-items: center;
                justify-content: right;
                height: 30px;
                width: 30px;
                font-size: 1.3em;
                width: 18%;
            }
            p{
                text-align: left;
                padding-left: 20px;
                width: 80%;
            }
            &:hover{
                background: $bluegreyh;
            }
        }
    }
}
p .settings{
    display: block;
    height: 100%;
    width: 100%;
}

