@import '../styles/colors/variables.scss';

.profileContainer{
    position: absolute;
    width: 300px;
    background: $black3;
    top: 61px;
    right: -30px;
    transition: 1s cubic-bezier(1,0,0,1);
    clip-path: inset(0 0 100% 0);
    &.open{
        clip-path: inset(0 0 0 0);
    }
    .options{
        display: flex;
        flex-wrap: wrap;
        position: relative;
        height: 100%;
        width: 100%;
        flex-direction: column;
        .profile{
            width: 100%;
            height: 100px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 20px;
            border-bottom: 1px solid $black3h;
            transition: background 0.2s;
            &:hover{
                background: $black3h;
            }
            img{
                height: 60px;
                width: 60px;
                border-radius: 50%;
                background-size: cover;
                object-fit: cover;
            }
            div{
                h5{
                    font-size: 1.1em;
                    text-align: center;
                    font-weight: 500;
                    text-align: center;
                }
                p{
                    font-size: 0.95em;
                    color: #999;
                }
            }
        }
        .option{
            width: 100%;
            height: 50px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid $black3h;
            transition: background 0.2s;
            &:hover{
                background: $black3h;
            }
        }
    }
}
p .settings{
    display: block;
    height: 100%;
    width: 100%;
}

