@import '../styles/colors/variables.scss';
$primary: #8bffff;
$secondary: #0099ff;


.textAreaContainer{
    position: relative;
    height: 200px;
    width: 22vw;
    margin-bottom: 2.5rem;
    display: flex;
    align-items: center;
    .textAreaComponent{
        position: absolute;
        top: 0;
        left: 0;
        color: #fff;
        font-size: 1em;
        width: 100%;
        height: 100%;
        display: block;
        background: transparent;
        border: none;
        background: $black3;
        outline: none;
        border-radius: 5px;
        transition: 0.35s;
        padding: 0 10px;
        padding-top: 25px;
        &:focus{
            background: $black3h;
        }
        &:focus ~ label{
            top: 5px;
            font-size: 0.9em !important;
            left: 10px;
            color: $primary;
        }
        &:not(:placeholder-shown).inputComponent:not(:focus) + .labelComponent{
            top: 5px;
            font-size: 0.9em !important;
            left: 10px;
            color: #999;
        }
    }
    .labelComponent{
        position: absolute;
        display: block;
        transition: .3s;
        top: 10%;
        left: 20px;
        font-size: 1.2em;
        text-align: center;
        background: transparent;
        color: #999;
    }
}
