@import '../../styles/colors/variables.scss';

.trendingBarContainer{
    width: 500px;
    height: 100vh;
    position: fixed;
    top: 30px;
    left: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    .trendingNow{
        background: $black2;
        border-radius: 10px;
        margin-top: 75px;
        width: 400px;
        padding: 20px;
        h4{
            margin-bottom: 20px;
            margin-left: 5px;
            font-weight: 700;
            letter-spacing: 1px;
            font-size: 1.5em;
        }
    }
}

@media (max-width: 1500px){
    .trendingBarContainer{
        width: 450px;
        .trendingNow{
            width: 350px;
        }
    }
}

@media (max-width: 1200px){
    .trendingBarContainer{
        width: 100%;
        position: relative;
        top: auto;
        left: 0;
        right: 0;
        display: flex;
        justify-items: center;
        .trendingNow{
            max-width: 100vw;
            margin: 0;
            border-radius: 0;
            h4{
                font-size: 1.3em;
                margin-left: 0;
            }
        }
    }
}