$primary: #8bffff;
$secondary: #0099ff;
$secondaryh: #0077c7;
$aqua: #6dffff;
$aquah: #90ffff;
$background: #0e1318;
$dark: #131720;
$black: #0a101a;
$blackh: #2c2c2c;
$black2: #151c27;
$black2h: #1d2531;
$black3: #1d2636;
$black3h: #222d40;
$black4: #20293a;
$black4h: #263247;
$white: #e0e0e0;
$whiteh: #dbdbdb;
$white2: #dbdbdb;
$white2h: #cecece;
$white3: #bbbbbb;
$white3h: #bbbbbb;
$delete: #ff3939;
$deleteh: #ff5f5f;
$darkblue: #04090e;
$yellow: #ffd93d;
$yellowh: #ffe26e;
$green: #60d660;
$greenh: #3dce3d;
$bluegrey: #1b2739;
$bluegreyh: #253449;
