$primary: #8bffff;
$secondary: #0099ff;
$secondaryh: #0077c7;
$aqua: #6dffff;
$aquah: #90ffff;
$black: #1f1f1f;
$blackh: #2c2c2c;
$black2: #0e141d;
$black2h: #18212e;
$black3: #1b242f;
$black3h: #242f3d;
$white: #e0e0e0;
$whiteh: #dbdbdb;
$white2: #dbdbdb;
$white2h: #cecece;
$white3: #bbbbbb;
$white3h: #bbbbbb;
$delete: #ff3939;
$deleteh: #ff5f5f;
$darkblue: #04090e;