@import '../../styles/colors/variables.scss';

.searchGroups{
    width: 650px;
    position: absolute;
    right: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 115px;
    .containerSearch{
        display: flex;
        align-items: center;
        .inputContainer{
            display: flex;
            z-index: 10;
            align-items: center;
            position: relative;
            width: 300px;
            height: 40px;
            background: transparent;
            border: 2px solid #fff;
            color: #fff;
            border-radius: 10px;
            cursor: pointer;
            transition: background .3s;
            &:hover{
                background: #ffffff20;
            }
            .icon{
                font-size: 1.5em;
                color: #e9e9e9;
                width: 22%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            p{
                width: 80%;
                color: #e9e9e9;
            }
        }
    }
    .create{
        width: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 10;
        button{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 120px;
            height: 40px;
            border-radius: 10px;
            border: 2px solid #fff;
            color: #fff;
            font-weight: 500;
            font-size: 1em;
            background: transparent;
            transition: 0.3s;
            padding-right: 10px;
            span{
                font-size: 1.3em;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 5px;
            }
            &:hover{
                background: #ffffff20;
            }
        }
    }
}