.loaderContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    flex-direction: column;
    margin-top: 350px;
    animation: disappear 1s forwards;
    animation-delay: 2s;
    h3{
        font-size: 2.3em;
        font-weight: 500;
        color: #fff;
    }
}

@keyframes disappear {
    from{
        opacity: 1;
    } to{
        opacity: 0;
    }
}