@import '../../styles/colors/variables.scss';

.register{
    width: 20vw;
    height: 40px;
    background: $primary;
    color: #000;
    border-radius: 10px;
    border: none;
    font-size: 1em;
    transition: 0.3s;
    &:hover{
        transform: translateY(-3px);
        background: #59ffff;
        box-shadow: 0 5px 20px #222c32;
    }
}