@import '../../styles/colors/variables.scss';

.register{
    width: 20vw;
    height: 40px;
    background: #00f7ff;
    color: #000;
    border-radius: 10px;
    border: none;
    font-size: 1em;
    transition: 0.3s;
    &:hover{
        background: $primary;
    }
}