.link{
    p{
        padding-left: 10px;
        padding-top: 5px;
        font-size: 1em;
        letter-spacing: 0.8px;
        a{
            color: #7ff1fb;
            text-decoration: underline;
        }
    }
}