@import '../../styles/colors/variables.scss';

.friends{
    width: 450px;
    height: 300px;
    border-radius: 10px;
    padding: 40px 31px;
    position: sticky;
    margin-top: 30px;
    top: 490px;
    left: 60px;
    background: $black2;
    h4{
        font-size: 1.5em;
        font-weight: 500;
    }
    p{
        padding-bottom: 15px;
        color: #999;
    }
    .grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 85%;
        .friend{
            height: 130px;
            width: 90px;
            cursor: pointer;
            transition: background .3s;
            padding: 0 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 10px;
            flex-direction: column;
            &:hover{
                background: $black3;
            }
            img{
                width: 80px;
                height: 80px;
                border-radius: 50%;
                background-size: cover;
                object-fit: cover;
                margin-bottom: 5px;
            }
            h6{
                font-size: 1em;
                font-weight: 500;
                text-align: center;
            }
        }
    }
}

@media (max-width: 1500px){
    .friends{
        width: 350px;
        min-height: 300px;
        top: 390px;
    }
}

@media (max-width: 1200px) {
    .friends{
        width: 100vw;
        height: 250px;
        position: relative;
        margin: 0;
        top: 0;
        left: 0;
        border-radius: 0;
        h4{
            font-size: 1.3em;
        }
        .grid{
            .friend{
                height: 100px;
                width: 70px;
                img{
                    width: 60px;
                    height: 60px;
                    border-radius: 50%;
                }
            }
        }
    }
}