@import '../../styles/colors/variables.scss';
.containerAll{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.countdownContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #001220;
    width: 100%;
    height: 100vh;
    padding: 9vw;
    transition: 2s cubic-bezier(1,0,0,1);
    &.launch{
        transform: translateY(-100%);
    }
    .content{
        width: 100%;
        height: 100%;
        h2{
            font-size: 2.9em;
        }
        h1{
            font-size: 6em;
            span{
                color: $primary;
            }
        }
        .countdown{
            display: flex;
            padding: 20px 0px;
            width: 41%;
            margin-left: 10px;
            div{
                width: 150px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                h3{
                    font-size: 4em;
                    line-height: 75px;
                }
                p{
                    font: 1.5em;
                }
            }
            span{
                font-size: 4em;
                padding: 0 10px;
                padding-bottom: 25px;
            }
        }
        button{
            width: 10vw;
            height: 45px;
            border-radius: 25px;
            background: #ccf9ff;
            color: #000;
            font-size: 1em;
            border: none;
            margin-top: 20px;
            margin-left: 10px;
            font-weight: 700;
            transition: .3s;
            &:hover{
                background-color: #a0ecfd;
                transform: translateY(-5px);
                color: #0e0e0e;
            }
        }
    }
    .snowLogo{
        width: 55%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            width: 300px;
            height: 300px;
            margin-bottom: 225px;
            position: relative;
            z-index: 2;
        }
    }
}



