.snowWelcomeContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: #00102c;
    transition: 2s cubic-bezier(1,0,0,1);
    &.launch{
        transform: translateY(-100%);
    }
    div{
        width: 100%;
        height: 15%;
    }
}