@import './colors/variables.scss';
.galleryContainer {
    width: 100%;
    max-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // padding-left: 24vw;
    .searchContainer {
        position: fixed;
        top: 85px;
        margin-bottom: 30px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 0;
    }
    .search {
        width: 80vw;
        display: flex;
        align-items: center;
        background: $black2;
        height: 55px;
        position: relative;
        border-radius: 10px;
        padding: 0 25px;
        span {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.5em;
        }
        input {
            width: 100%;
            height: 100%;
            background: transparent;
            color: #fff;
            border: none;
            outline: none;
            padding: 0 10px;
            font-size: 1.2em;
        }
    }
    .masonry {
        margin-top: 90px;
        width: 80vw;
        columns: 3 340px;
        column-fill: auto;
        -moz-column-fill: balance;
        -webkit-column-fill: auto;
        overflow-y: scroll;
        overflow-x: hidden;
        opacity: 0;
        animation: appear 1s forwards;
        &::-webkit-scrollbar {
            width: 0px;
        }
        &::-webkit-scrollbar-thumb {
            background: #ffffff60;
            transition: 0.3s;
            border-radius: 20px;
            width: 0;
            &:hover {
                background: #ffffff99;
            }
        }
    }
}

@media (max-width: 1200px) {
    .galleryContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0;
        .searchContainer {
            top: 55px;
            height: 55px;
        }
        .search {
            height: 45px;
            width: 90vw;
            font-size: 1em;
            span {
                font-size: 1.4em;
            }
            input {
                font-size: 1em;
            }
        }
        .masonry {
            width: 90vw;
            margin-top: 75px;
            z-index: 6;
        }
    }
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
