@import './colors/variables.scss';

.groupContainer{
    height: 100vh;
    width: 100%;
    .posts{
        width: 50%;
        padding: 0px 20px;
        height: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        position: relative;
        .postsContainer{
            display: flex;
            align-items: center;
            flex-direction: column-reverse;
        }
    }
    .profile{
        width: 100%;
        min-height: 53vh;
        background: $black2;
        position: relative;
        border-radius: 10px;
        .members{
            display: flex;
            align-items: center;
            flex-direction: row;
            position: absolute;
            bottom: 60px;
            left: 295px;
            .member{
                width: 30px;
                height: 30px;
                display: block;
                .memberProfile{
                    width: 45px;
                    height: 45px;
                    object-fit: cover;
                    background-size: cover;
                    border-radius: 50%;
                    padding: 3px;
                    background: $black2;
                }
            }
        }
        .banner{
            width: 92.5vw;
            height: 33vh;
            padding: 0 100px;
            position: relative;
            transition: 0.7s;
            &.logged::before{
                cursor: pointer;
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 88.8%;
                height: 100%;
                margin-left: 5.6%;
                background: #000a1a30;
                opacity: 0;
                transition: 0.2s;
            }
            &:hover::before{
                opacity: 1;
            }
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                background-size: cover;
                background-position: center center;
                background-attachment: fixed;
                user-select: none;
            }
        }
        .info{
            padding: 0 100px;
            position: absolute;
            top: 250px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .groupPic{
                margin: 0;
                padding: 0;
                width: 190px;
                height: 190px;
                border-radius: 50%;
                overflow: hidden;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                img{
                    width: 190px;
                    height: 190px;
                    border-radius: 50%;
                    background-size: cover;
                    object-fit: cover;
                    background: $black2;
                    padding: 7px;
                    user-select: none;
                }
                .editProfilePic{
                    position: absolute;
                    width: 183px;
                    height: 183px;
                    background: #000a1a80;
                    z-index: 4;
                    opacity: 0;
                    border-radius: 50%;
                    transition: 0.2s;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    font-weight: 800;
                    span{
                        font-size: 3em;
                        height: 40px;
                    }
                    cursor: pointer;
                    &:hover{
                        opacity: 1;
                    }
                }
            }
            .textInfo{
                padding: 0 10px;
                padding-top: 50px;
                h4{
                    font-size: 1.8em;
                    font-weight: 600;
                    padding-bottom: 5px;
                }
                div{
                    display: flex;
                    p{
                        color: #999;
                        font-weight: 400;
                        display: flex;
                        padding-right: 10px;
                        span{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: 1.1em;
                            padding-right: 5px;
                        }
                    }
                    h5{
                        color: #999;
                        font-size: 1em;
                        font-weight: 400;
                        padding-left: 10px;
                    }
                }
            }
        }
        .options{
            position: absolute;
            bottom: 50px;
            right: 100px;
            button{
                width: 180px;
                height: 40px;
                background: #fff;
                font-size: 1.1em;
                font-family: 'Poppins', sans-serif;
                border: none;
                outline: none;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50px;
                transition: 0.35s;
                span{
                    display: flex;
                    align-items: center;
                    font-size: 1.4em;
                    padding-right: 10px;
                }
                &.joined{
                    background: transparent;
                    border: 2px solid #fff;
                    background: transparent;
                    color: #fff;
                    &:hover{
                        background: #ffffff20;
                    }
                }
            }
        }
    }
    .groupContent{
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding-top: 30px;
        .photos{
            width: 450px;
            height: 300px;
            border-radius: 10px;
            padding: 40px 30px;
            position: sticky;
            top: 100px;
            left: 60px;
            background: $black2;
            h4{
                font-size: 1.5em;
                font-weight: 500;
                padding-bottom: 10px;
            }
        }
        .about{
            width: 450px;
            height: 225px;
            border-radius: 10px;
            padding: 40px 30px;
            background: $black2;
            top: 100px;
            position: sticky;
            right: 60px;
            h4{
                font-size: 1.5em;
                font-weight: 500;
                padding-bottom: 10px;
            }
            p{
                font-size: 1em;
            }
            .info{
                position: absolute;
                bottom: 30px;
                p{
                    font-size: 0.9em;
                    color: #ccc;
                    display: flex;
                    align-items: center;
                    padding: 3px 0;
                    span{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 0 6px;
                        padding-bottom: 2px;
                        font-size: 1.1em;
                    }
                }
            }
        }
    }
}

@media (max-width: 1500px) {
    .groupContainer{
        .profile{
            min-height: 410px;
            max-height: 410px;
            .members{
                bottom: 70px;
                .member{
                    width: 25px;
                    height: 25px;
                    .memberProfile{
                        width: 35px;
                        height: 35px;
                    }
                }
            }
            .info{
                top: 152px;
            }
        }
    }
}

@media (max-width: 1200px) {
    .groupContainer{
        height: 100vw;
        max-width: 100vh;
        .posts{
            max-width: 100vw;
            margin: 0;
            padding: 0;
            .postsContainer{
                width: 100vw;
                margin: 0;
                padding: 0;
            }
        }
        .profile{
            max-width: 100vw;
            min-height: 45vh;
            border-radius: 0;
            padding: 0;
            .members{
                left: 18px;
                top: 25vh;
                .member{
                    width: 25px;
                    height: 25px;
                    .memberProfile{
                        width: 35px;
                        height: 35px;
                    }
                }
            }
            .options{
                width: 80px;
                position: absolute;
                padding: 0;
                right: 80px;
                top: 23.5vh;
                button{
                    height: 35px;
                    min-width: 35px;
                    display: block;
                    border-radius: 20px;
                    border: none;
                    font-size: 1em;
                    padding: 0 5px;
                    margin: 0 7px;
                    color: #fff;
                    background: transparent;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: 0.35s;
                    width: 100px;
                }
            }
            .banner{
                width: 100vw;
                padding: 0;
                height: 20vh;
                img{
                    width: 100vw;
                }
            }
            .info{
                padding: 0 10px;
                top: 32vw;
                width: 90vw;
                justify-content: start;
                flex-direction: column;
                align-items: start;
                margin: 0;
                img{
                    height: 75px;
                    width: 75px;
                    padding: 4px;
                }
                .textInfo{
                    padding-top: 7px;
                    h4{
                        font-size: 1.1em;
                    }
                    p{
                        font-size: 0.95em;
                    }
                    .bio{
                        color: #fff;
                        font-size: 1em;
                        padding-top: 10px;
                    }
                }
            }
        }
        .groupContent{
            width: 100vw;
            justify-content: none;
            align-items: center;
            flex-direction: column;
            padding: 0;
            .photos{
                width: 100vw;
                height: 30vh;
                position: relative;
                top: auto;
                left: auto;
                margin: 0;
                border-radius: 0;
                h4{
                    font-size: 1.35em;
                }
            }
        }
    }
}

