.homeContainer {
    height: 100vh;
    display: flex;
    width: 100%;
    z-index: 14;
    .bar {
        position: fixed;
        top: 0px;
        left: 0;
        height: 100vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
        overflow-y: auto;
        &::-webkit-scrollbar {
            width: 0px;
        }
        &::-webkit-scrollbar-thumb {
            background: #ffffff60;
            transition: 0.3s;
            border-radius: 20px;
            width: 0;
            &:hover {
                background: #ffffff99;
            }
        }
    }
}
