@import '../styles/colors/variables.scss';
.loginContainer {
    height: 100vh;
    width: 100%;
    background: url(./img/loginbg.svg);
    background-size: cover;
    .containerAll {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #00000040;
        .login {
            height: 450px;
            width: 600px;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            border-radius: 10px;
            padding: 15px 0;
            background: $black;
            .loginText {
                display: flex;
                justify-content: start;
                width: 86%;
                padding-top: 40px;
                padding-bottom: 0px;
                flex-direction: column;
                padding-left: 5px;
                h2 {
                    font-weight: 700;
                    font-size: 2em;
                    background: #fff;
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
                p {
                    padding-top: 15px;
                    font-size: 0.95em;
                    letter-spacing: 0.8px;
                    text-align: start;
                    color: rgb(155, 155, 155);
                    a {
                        color: #00aaff;
                        text-decoration: underline;
                    }
                }
            }
        }
        .formContainer {
            position: relative;
            height: 100%;
            width: 100%;
            form {
                width: 100%;
                display: flex;
                flex-direction: column;
                padding: 0 45px;
                padding-top: 35px;
                div {
                    padding: 2px 0;
                }
                button {
                    margin-top: 20px;
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    .loginContainer {
        .containerAll {
            .login {
                width: 100vw;
                height: 100%;
                .loginText {
                    width: 100%;
                    display: block;
                    h2 {
                        text-align: center;
                    }
                    p {
                        text-align: center;
                    }
                }
            }
        }
    }
}
