@import '../styles/colors/variables.scss';
.loginContainer{
    height: 100vh;
    width: 100%;
    background: url(./img/register-bg.jpeg);
    background-size: cover;
    .containerAll{
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #00000045;
        backdrop-filter: blur(5px);
        .login{
            height: 530px;
            width: 700px;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            border-radius: 25px;
            padding: 15px 0;
            background: #0f0f0f;
            .loginText{
                display: flex;
                justify-content: start;
                width: 86%;
                padding-top: 40px;
                padding-bottom: 10px;
                h2{
                    font-weight: 700;
                    font-size: 2.5em;
                    background: #fff;
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
        }
        .formContainer{
            position: relative;
            height: 100%;
            width: 100%;
            form{
                width: 100%;
                display: flex;
                flex-direction: column;
                padding: 0 55px;
                padding-top: 40px;
                div{
                    padding: 10px 0;
                }
                button{
                    margin-top: 20px;
                }
            }
            p{
                padding-left: 55px;
                padding-top: 35px;
                font-size: 1em;
                letter-spacing: 0.8px;
                a{
                    color: #00aaff;
                    text-decoration: underline;
                }
            }
        }
    }
}