@import './colors/variables.scss';

.registerContainer{
    height: 100vh;
    width: 100%;
    background: url(./img/register-bg.jpeg);
    background-size: cover;
    font-family: 'Manrope', sans-serif !important;
    .containerAll{
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #00000065;
        backdrop-filter: blur(5px);
        .registerContent{
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 15px;
            overflow: hidden;
            background: #00000030;
            padding: 40px 58px;
            padding-left: calc(470px + 30px);
            position: relative;
            .registerBackground{
                height: calc(50vh + 30px);
                width: 600px;
                height: 600px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 15px;
                position: relative;
                img{
                    height: 520px;
                    width: 700px;
                    border-radius: 25px;
                    background-size: cover;
                    object-fit: cover;
                }
            }
            .register{
                height: 520px;
                width: 477px;
                position: absolute;
                left: 55px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                border-radius: 25px 0px 0px 25px;
                z-index: 10;
                padding: 15px 0;
                background: $black2;
                .registerText{
                    display: flex;
                    width: 100%;
                    padding-top: 40px;
                    padding: 0 15px;
                    padding-top: 40px;
                    h2{
                        font-weight: 700;
                        font-size: 2.2em;
                        text-align: center;
                        background: #fff;
                        background-clip: text;
                        width: 100%;
                        -webkit-text-fill-color: transparent;
                    }
                }
                .formContainer{
                    position: relative;
                    height: 100%;
                    width: 100%;
                    form{
                        width: 100%;
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        padding: 0 55px;
                        padding-top: 40px;
    
                        .centerContent{
                            display: flex;
                            justify-content: center;
                            padding-left: 80px;
                            flex-direction: column;
                        }
                    }
                }
                .buttons{
                    display: flex;
                    width: 100%;
                    height: 60px;
                    button{
                        background: transparent;
                        color: $primary;
                        font-size: 3em;
                        border: none;
                        outline: none;
                    }
                    .back{
                        position: absolute;
                        left: 60px;
                        bottom: 60px;
                    }
                    .forward{
                        position: absolute;
                        right: 60px;
                        bottom: 60px;
                    }
                }
        }
        }
    }
}

@media (max-width: 1200px){
    .registerContainer{
        .containerAll{
            width: 100vw;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            .registerContent{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                padding: 0;
                .registerBackground{
                    height: 29.5vh;
                    width: 100vw;
                    img{
                        height: 30vh;
                        width: 100vw;
                        border-radius: 25px 25px 0px 0px;
                    }
                }
                .register{
                    position: relative;
                    height: 70vh;
                    width: 100vw;
                    left: 0;
                    border-radius: 0px 0px 25px 25px;
                }
            }
        }
    }
}