@import './colors/variables.scss';

.userProfileContainer{
    min-height: 100vh;
    width: 100%;
    .profile{
        width: 100%;
        min-height: 53vh;
        background: $black2;
        border-radius: 10px;
        position: relative;
        .banner{
            width: 100%;
            height: 320px;
            padding: 0 100px;
            img{
                width: 100%;
                height: 100%;
                background-size: cover;
                object-fit: cover;
                user-select: none;
            }
        }
        .info{
            padding: 0 100px;
            position: absolute;
            top: 250px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            img{
                width: 190px;
                height: 190px;
                border-radius: 50%;
                background-size: cover;
                object-fit: cover;
                background: $black2;
                padding: 7px;
                user-select: none;
            }
            div{
                padding: 0 10px;
                padding-top: 50px;
                h4{
                    font-size: 1.8em;
                    font-weight: 600;
                }
                p{
                    color: #999;
                }
            }
            .buttons{
                margin-bottom: 15px;
                display: flex;
                width: 300px;
                button{
                    height: 35px;
                    min-width: 35px;
                    display: block;
                    border-radius: 20px;
                    border: none;
                    font-size: 1.3em;
                    padding: 0 5px;
                    margin: 0 7px;
                    color: #fff;
                    background: transparent;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: 0.35s;
                    &:not(.follow):hover{
                        background-color: #ffffff20;
                    }
                    &.follow{
                        width: 100px;
                        font-size: 1em;
                        background: #fff;
                        color: #000;
                    }
                    &.follow.followed{
                        background: transparent;
                        border: 2px solid #fff;
                        background: transparent;
                        color: #fff;
                    }
                    &.follow.followed:hover{
                        background-color: #ffffff20;
                    }
                    &.editProfile{
                        background: transparent;
                        color: #fff;
                        border: 2px solid #fff;
                        width: 120px;
                        &:hover{
                            background: #ffffff10;
                        }
                    }
                }
            }
        }
    }
    .about{
        width: 100%;
        height: auto;
        margin-top: 10px;
        display: flex;
        justify-content: center;
        padding: 30px 0;
        position: relative;
        .postsContainer{
            width: 50%;
            padding: 0px 20px;
            height: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            position: relative;
            h4{
                font-size: 1.5em;
                font-weight: 600;
                width: 90%;
                text-align: start;
                border-radius: 15px;
                background: $black2;
                height: 70px;
                display: flex;
                align-items: center;
                padding: 0 20px;
            }
            .posts{
                display: flex;
                align-items: center;
                flex-direction: column-reverse;
            }
        }
        .bio{
            width: 450px;
            height: 225px;
            border-radius: 10px;
            padding: 40px 30px;
            background: $black2;
            top: 100px;
            position: sticky;
            right: 60px;
            h4{
                font-size: 1.5em;
                font-weight: 500;
                padding-bottom: 10px;
            }
            p{
                font-size: 1em;
            }
            .info{
                position: absolute;
                bottom: 30px;
                p{
                    font-size: 0.9em;
                    color: #ccc;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    span{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 0 6px;
                        padding-bottom: 2px;
                        font-size: 1.1em;
                    }
                }
            }
        }
    }
}

@media (max-width: 1200px){
    .userProfileContainer{
        max-width: 100vw;
        margin: 0;
        padding: 0;
        .profile{
            width: 100vw;
            min-height: 45vh;
            border-radius: 0;
            .banner{
                width: 100vw;
                height: 20vh;
                padding: 0;
            }
            .info{
                padding: 0 10px;
                top: 32vw;
                width: 100vw;
                justify-content: start;
                flex-direction: column;
                align-items: start;
                img{
                    height: 75px;
                    width: 75px;
                    padding: 4px;
                }
                div{
                    padding-top: 7px;
                    h4{
                        font-size: 1.1em;
                    }
                    p{
                        font-size: 0.95em;
                    }
                    .bio{
                        color: #fff;
                        font-size: 1em;
                        padding-top: 10px;
                    }
                }
                .buttons{
                    width: 45vw;
                    position: absolute;
                    right: 20px;
                    top: 60px;
                    button{
                        font-size: 1.2em;
                        &.follow{
                            padding: 5px 0;
                        }
                        &.editProfile{
                            background: transparent;
                            border: 1px solid #fff;
                            color: #fff;
                        }
                    }
                }
            }
        }
        .about{
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 0;
            padding: 0;
            .leftColumn{
                width: 100vw;
                .photos{
                    width: 100vw;
                    height: 30vh;
                    position: relative;
                    top: auto;
                    left: auto;
                    margin: 0;
                    border-radius: 0;
                    h4{
                        font-size: 1.35em;
                    }
                }
                .friends{
                    width: 100vw;
                    height: 30vh;
                    position: relative;
                    top: auto;
                    left: auto;
                    margin: 0;
                    border-radius: 0;
                    h4{
                        font-size: 1.35em;
                    }
                }
            }
            .postsContainer{
                width: 100vw;
                margin: 0;
                padding: 0;
                h4{
                    font-size: 1.4em;
                    width: 100vw;
                    border-radius: 0;
                    margin: 0;
                }
                .posts{
                    margin: 0;
                    padding: 0;
                }
            }
        }
    }
}