@import '../../styles/colors/variables.scss';

.friendListContainer {
    width: 500px;
    height: 700px;
    position: fixed;
    top: 30px;
    left: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    .friendGrid {
        background: $black2;
        border-radius: 10px;
        margin-top: 75px;
        width: 400px;
        position: relative;
        min-height: 26vh;
        .noFriends {
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            position: absolute;
            top: 0;
            left: 0;
            color: rgb(55, 64, 75);
            span {
                width: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 5em;
            }
            p {
                font-size: 1.1em;
                font-weight: 600;
            }
        }
        h2 {
            margin-bottom: 20px;
            margin-left: 5px;
            font-size: 1.4em;
            font-weight: 700;
            letter-spacing: 1px;
        }
        padding: 20px;
    }
}

@media (max-width: 1500px) {
    .friendListContainer {
        width: 450px;
        .friendGrid {
            width: 350px;
            .noFriends {
                top: 10px;
                span {
                    font-size: 4em;
                }
            }
        }
    }
}
